:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 0.66vw) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
* {
    margin: 0;
}
body {
    
    margin: 0;
}
a {
    text-decoration: none;
    display: block;
}
.container {
    width: 100%;
    max-width: 1330px;
    height: 105vh;
    margin: 0 auto;
    background-image: url("../images/casino_fon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    text-align: center;
}
.logo_block{
    position: relative;
    display: inline-block;
}
.logo_block h1 {
    font-family: "Permanent Marker";
    font-size: 2.8rem;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    color: #FF0000;
    text-shadow: 0.4rem 0.4rem #310059;
} 
.dots {
    position: absolute;
    border-radius: 50%;
    background-color: white;
}
.big_dot {
    width: 0.35em;
    height: 0.35em;
    top: 5rem;
    left:12.5rem; 
}
.small_dot {
    width: 0.2rem;
    height: 0.2rem;

}
.logo_block :nth-child(3){
    top: 5rem;
    left: 5.8rem;
}
.logo_block :nth-child(4){
    top: 4rem;
    left: -0.4rem;
}
.logo_block :nth-child(5){
    top: 2.6rem;
    left: 0;
}
/* Header_Info */
.header_info {
    width: 39.38rem;
    text-align: center;
    margin: 2rem auto 0;
}
.header_title {
    font-size: 1.5 rem;
    font-weight: 200;
    color: white;
    text-transform: capitalize;
    margin-bottom: 0.81rem;
}
.header_subtitle {
    font-size: 0.58rem;
    font-weight: 200;
    color: white;
    opacity: 0.7;
    margin-bottom: 15px;
}
.header_count {
    font-size: 0.7rem;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
}
/* Navigation */
.info_casino {
    width: 43.44rem;
    margin: 0.9rem auto 0.7rem;
    display: flex;
    justify-content: space-around;
}
.info_casino h4 {
    font-size: 0.6rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;

}

/* List Casino */
.casino_list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.list_item {
    width: 43.38rem;
    height: 5.31rem;
    background-color: white;
    border-radius: 0.3rem;
    margin-bottom: 0.55rem;
    display: flex;
    align-items: center;
    position: relative;
}
.logo_casino {
    height: inherit;
    width: 145px;
  flex: 0 1 145px;
  position: relative;

}



.logo_casino img {
    width: inherit;
    height: inherit;
}
.bord_line {
    height: 100%;
    /* overflow: hidden; */
    position: absolute;
    right: -3px;
    top: 0;
}
.line {
    box-sizing: content-box;
    height: 50%;
    width: 2px;
    background-color: white;
    border-right: 4px solid;
}
.line--top {
    transform: rotate(-7deg);
}
.line--bottom {
    transform: rotate(7deg);
}
.line--royal {
  border-color: #656A71;
}
.line--vulcan {
    border-color: #4D507E;
}
.line--max {
    border-color: #4E8060;
}
.line--flint {
    border-color: #9F5E6B;
}
.line--sto {
    border-color: #FFDB69;

}
.logo_flayer {
    position: absolute;
    font-size: 0.4rem;
    text-transform: uppercase;
    padding: 0.27rem 0.875rem;
    background-color: #4BE100;
    font-weight: 600;
    top: -0.5rem;
    left: -0.5rem;
}
.logo_flayer::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border-left: 0.5rem solid #4BE100;
    border-top: 0.5rem solid #4BE100;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #4BE100;
} .marker {
    content: "";
    position: absolute;
    top: 2px;
    left: -6px;
    border: 0.35rem solid;
    border-color: transparent transparent transparent #BF6300;
    transform: rotate(-45deg);
}

.bonus {
    flex: 0 1 168px;
    height: 100%;
    display: flex;
    align-items: center;
}
.bonus_info {
    width: 100%;
    /* text-align: center; */
    /* justify-content: center; */
    font-size: 0.5rem;
    border-right: 1px  solid lightgrey;
    
}
.casino_name {
    font-size: 16px;
    font-weight: 600;
    display: none;
}
.small_scr {
    display: none;
}
 .bonus_info .euro {
     font-family:" Andika New Basic" ;
     font-weight: 700;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.002rem;
    line-height: 1.2;
    
}
.user_block {
    flex: 1 1 auto;
    display: flex;
    height: inherit;
}
.span--cap {
    text-transform: capitalize;
}
.span--up {
    text-transform: uppercase;
}
.user_rating {
    flex: 0 1 165px;
    align-items: center;
    display: flex;
}
.user_rating_info {
    width: 100%;
    text-align: center;
}
.user_rating_info h5 {
    font-size: 0.6rem;
    font-weight: 500;
}
.last_star {
    display: inline-block;
    position: relative;
}
.last_star::after {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-color:white;
    top: 0.438rem;
    right: -0.375rem;
    opacity: 0.7;

    z-index: 10;
}

.stars span {
    color: #F4CB00;
    display: inline-block;
    margin-right: -3px;
    margin-left: -3px;
}
.number_rating {
    flex: 0 1 120px;
    align-items: center;
    display: flex;
}
.number {
    width: 100%;
    text-align: center;
    border-right: 1px solid lightgray;
    padding-top: 9px;
    padding-bottom: 9px;
}
.number span {
    font-family: "Andika New Basic";
    font-size: 1.7rem;
    font-weight: 700;
    word-spacing: 0.5px;
    
}
.num_dot {
    width: 5px;
    height: 5px;
    background-color: black;
    display: inline-block;
    
}
.playing {
    flex:  1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butt {
    
    font-size: 0.7rem;
    color: white;
    background-color: #00D900;
    border: none;
    border-radius: 0.19rem;
    padding: 0.5rem 2.7rem;
    cursor: pointer;
}
.redy {
    background-color: tomato;
}
.flayer_mob {
    position: absolute;
    width: 140px;
    height: 23px;
    background-color: #4BE100;
    border-top-right-radius: 5px;
    top: 0;
    right: 0;
    display: none;
}
.flayer_mob h5 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
}
@media (max-width: 570px){
    .container {
        text-align: left;
    }
    .wrapp_play {
        width: 100vw;
        background-color: #000000;
        border-top-right-radius: 5px;
    }
    .logo_block h1 {
        

    }
    .header_info {
        width: 100vw;
        text-align: left;
    }
    .header_title {
        font-size: 24px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .title_span {
        display: inline-block;
    }
    .header_subtitle,.info_casino,.line,.number,.euro,.up,.logo_flayer,.marker {
        display: none;
    }
    .header_count {
        font-size: 14px;
        padding: 30px;
        background-color: rgba(0,0,0, 0.7)  
    }
   
    .casino_list {
        background-color: #000000;
    }
    .list_item {
        width: 95%;
        height: 110px;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 35px;
    }
   
    .logo_casino {
        width: 65px;
        height: 65px;
        flex: 1 0 110px;
        margin-left: 25px;
    }
    .logo_casino img {
        border-radius: 50%;
        align-self: center;
    }
    .bonus_info {
        font-size: 10px;
        border-right: none;
    }
    .user_rating_info h5 {
        display: none;
    }
    .casino_name {
        display: block;
    }
    .small_scr {
        display: block;
    }
    .user_block {
        flex-wrap: wrap;
        align-content: center;
        /* background-color: lawngreen; */
    }
    .stars {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .last_star::after{
        width: 14px;
        height: 14px;
        left: 8px;
        
    }
    .butt {
        font-size: 12px;
    }
   .flayer_mob {
       display: block;
   }
       
   


}